<%- include('includes/head.ejs') %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script>
    var app = angular.module("exampleApp", []);
    app.controller('defaultCtrl', function ($scope) {
      $scope.DaysArray = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
      $scope.products = [
        {"ClassID":"713","StartTime":"04:30","EndTime":"05:30","ClassName":"IS INT ACRO JAZZ","Level":"","AgeRange":"7+","Styles":"Acro","Instructor":"Kyle Walker","StudioNumber":"3","DayOfWeek":"Thursday","LengthOfClass":"0","MaximumEnroll":"20","CurrentlyEnrolled":"15"},
        {"ClassID":"492","StartTime":"03:30","EndTime":"04:30","ClassName":"ZM BEG ACRO JAZZ 7+","Level":"","AgeRange":"7+","Styles":"Acro","Instructor":"Kyle Walker","StudioNumber":"2","DayOfWeek":"Monday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"2"},
        {"ClassID":"708","StartTime":"04:30","EndTime":"05:30","ClassName":"IS BEG ACRO JAZZ 7+","Level":"","AgeRange":"7+","Styles":"Acro","Instructor":"Kyle Walker","StudioNumber":"3","DayOfWeek":"Tuesday","LengthOfClass":"0","MaximumEnroll":"20","CurrentlyEnrolled":"20"},
        {"ClassID":"480","StartTime":"05:30","EndTime":"06:30","ClassName":"ZM BEG ACRO JAZZ 7+","Level":"","AgeRange":"7+","Styles":"Acro","Instructor":"Danielle Daguman ","StudioNumber":"9","DayOfWeek":"Tuesday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"6"},
        {"ClassID":"74","StartTime":"05:30","EndTime":"06:30","ClassName":"ZM LYRICAL I 8+","Level":"","AgeRange":"8+","Styles":"Lyrical","Instructor":"Jennifer Beith","StudioNumber":"7","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"5"},
        {"ClassID":"163","StartTime":"03:30","EndTime":"04:30","ClassName":"ZM BALLET I 8+","Level":"","AgeRange":"8+","Styles":"Ballet","Instructor":"Lori Murphy","StudioNumber":"3","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"4"},
        {"ClassID":"467","StartTime":"03:30","EndTime":"04:30","ClassName":"ZM JAZ\/LYR I 8+","Level":"","AgeRange":"8+","Styles":"Jazz","Instructor":"Michelle Rizzuto Richey","StudioNumber":"2","DayOfWeek":"Wednesday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"1"},
        {"ClassID":"169","StartTime":"04:30","EndTime":"05:30","ClassName":"ZM JAZZ I 8+","Level":"","AgeRange":"8+","Styles":"Jazz","Instructor":"Brandi Freas-Cusick","StudioNumber":"3","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"0"},
        {"ClassID":"498","StartTime":"10:00","EndTime":"11:00","ClassName":"ZM BALLET I 8+","Level":"","AgeRange":"8+","Styles":"Ballet","Instructor":"Nicky Wagg","StudioNumber":"8","DayOfWeek":"Saturday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"2"},
        {"ClassID":"372","StartTime":"05:30","EndTime":"06:30","ClassName":"ZM HH BEG 10+","Level":"","AgeRange":"10+","Styles":"Hip Hop","Instructor":"Hank Schmidt","StudioNumber":"9","DayOfWeek":"Monday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"3"},
        {"ClassID":"801","StartTime":"04:30","EndTime":"05:30","ClassName":"IS K-POP 10+","Level":"","AgeRange":"10+","Styles":"K-Pop","Instructor":"Hannah Kon","StudioNumber":"2","DayOfWeek":"Friday","LengthOfClass":"0","MaximumEnroll":"30","CurrentlyEnrolled":"19"},
        {"ClassID":"3","StartTime":"05:30","EndTime":"06:30","ClassName":"ZM BALLET I 10+AD","Level":"","AgeRange":"10+","Styles":"Ballet","Instructor":"Nicky Wagg","StudioNumber":"7","DayOfWeek":"Thursday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"7"},
        {"ClassID":"131","StartTime":"07:00","EndTime":"08:00","ClassName":"ZM BALLET I 10+","Level":"","AgeRange":"10+","Styles":"Ballet","Instructor":"Brandi Freas-Cusick","StudioNumber":"3","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"2"},
        {"ClassID":"71","StartTime":"06:30","EndTime":"07:30","ClassName":"ZM TAP I-B 10+","Level":"","AgeRange":"10+","Styles":"Tap","Instructor":"Jennifer Beith","StudioNumber":"7","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"0"},
        {"ClassID":"546","StartTime":"06:30","EndTime":"07:30","ClassName":"ZM K-POP 10+","Level":"","AgeRange":"10+","Styles":"K-Pop","Instructor":"Hank Schmidt","StudioNumber":"8","DayOfWeek":"Wednesday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"8"},
        {"ClassID":"481","StartTime":"06:30","EndTime":"07:30","ClassName":"ZM LYRICAL I 10+","Level":"","AgeRange":"10+","Styles":"Lyrical","Instructor":"Danielle Daguman ","StudioNumber":"9","DayOfWeek":"Tuesday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"5"},
        {"ClassID":"29","StartTime":"04:30","EndTime":"05:30","ClassName":"ZM TT II-B & UP 10+","Level":"","AgeRange":"10+","Styles":"Turns\/Tech","Instructor":"Bobby Amamizu","StudioNumber":"Monday","DayOfWeek":"Monday","LengthOfClass":"60","MaximumEnroll":"0","CurrentlyEnrolled":"2"},
        {"ClassID":"247","StartTime":"06:30","EndTime":"07:30","ClassName":"ZM JAZZ II-B+ 10+","Level":"","AgeRange":"10+","Styles":"Jazz","Instructor":"Bobby Amamizu","StudioNumber":"1","DayOfWeek":"Monday","LengthOfClass":"0","MaximumEnroll":"0","CurrentlyEnrolled":"4"}
      ];
      console.log("Here in controller");

      $scope.classes = [];

      $scope.addClass = function(p) {
        alert(p.ClassName + " added to cart!")
  
        $scope.classes.push({p});

        console.log($scope.classes)
        
} 
      $scope.buttonClick = function() {
        console.log("Button clicked");
      }
    }); 
  </script>

</head>

<body ng-app="exampleApp">
  <%-include('includes/navigation.ejs') %>
    
  <div class="col-sm-12 mx-3" ng-controller="defaultCtrl">
      <h1 class="text-center"> Select New Classes</h1>

   <!-- <div class="container" id="myInput"> -->
      <div class="dropdown" id="myInput">
        <form id="nextPageForm" action="/registration" method="get">
        <select class="btn  btn-primary selectpicker dropdown-toggle p-2" ng-model="Level" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Level</option>
          <option class="dropdown-item"value="BEG">Intro</option>
          <option class="dropdown-item"value="INT">Intermediate</option>
          <option class="dropdown-item"value="II">Advanced</option>
        </select>
    
      
        <select class="btn btn-primary selectpicker dropdown-toggle p-2" ng-model="Style" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Style</option>
          <option class="dropdown-item" value="Jazz">Jazz</option>
          <option class="dropdown-item" value="Ballet">Ballet</option>
          <option class="dropdown-item" value="Hip Hop">Hip Hop</option>
          <option class="dropdown-item" value="Acro">Acro</option>
          <option class="dropdown-item" value="Tap">Tap</option>
        </select>
      
        <select class="btn btn-primary selectpicker dropdown-toggle p-2" ng-model="AgeRange" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Age Range</option>
          <option class="dropdown-item" value="6+">6+</option>
          <option class="dropdown-item" value="7+">7+</option>
          <option class="dropdown-item" value="8+">8+</option>
          <option class="dropdown-item" value="10+">10+</option>
          <option class="dropdown-item" value="Adult">Adult</option>
        </select>
      
        <select class="btn btn-primary selectpicker dropdown-toggle p-2" ng-model="DayOfWeek" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Day</option>
          <option class="dropdown-item" value="Monday">Mondays</option>
          <option class="dropdown-item" value="Tuesday">Tuesdays</option>
          <option class="dropdown-item" value="Wednesday">Wednesdays</option>
          <option class="dropdown-item" value="Thursday">Thursdays</option>
          <option class="dropdown-item" value="Friday">Fridays</option>
          <option class="dropdown-item" value="Saturday">Saturdays</option>
          <option class="dropdown-item" value="Sunday">Sundays</option>
        </select>

        <button type="submit" class="px-3 btn btn-primary float-end">Proceed to Registration ({{classes.length}})</button>
      </div>
    <!-- </div> -->

    
    
    <table class="table" id="myTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Class Name</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Level</th>
            <th scope="col">Age Range</th>
            <th scope="col">Style</th>
            <th scope="col">Instructor</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in products | filter:AgeRange | filter:Style | filter:Level |filter:DayOfWeek">
            <td>{{p.ClassName}}</td>
            <td>{{p.DayOfWeek}}</td>
            <td>{{p.StartTime}}</td>
            <td>{{p.Level}}</td>
            <td>{{p.AgeRange}}</td>
            <td>{{p.Styles}}</td>
            <td>{{p.Instructor}}</td>
            <td><button type="button" class="btn btn-secondary" ng-click="addClass(p)">Add Class</button></td>
          </tr>
        </tbody>
        
      </table>
      <div>
        <button type="submit" class="btn btn-primary" >Proceed to Registration ({{classes.length}})</button>
      </div>

    </form>
  </div>

  
<%- include('includes/end.ejs') %>

 
  