<%- include('includes/head.ejs') %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script>
    
    var app = angular.module("exampleApp", []);
    app.controller('defaultCtrl', function ($scope, $http, $window) {
      $scope.DaysArray = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
      $scope.cart = [];

      // Simple GET request example:
      $http({
        method: 'GET',
        url: 'https://pdw.pacificdance.net/PacificDanceWare/index.php/class_api'
      }).then(function successCallback(response) {
          // this callback will be called asynchronously
          // when the response is available
          console.log(response.data);
          $scope.products = response.data;


        }, function errorCallback(response) {
            console.log("Error: " + response);
        });

       
        
      console.log("Here in controller");

      $scope.addClassToCart = function(p) {
        if (p.Action === 'Added') {
          // remove class from the cart 
            var length = $scope.cart.length;
            if (length === 1) {
              $scope.cart = [];
              length--;
            }
            for (var i = 0; i < length; i++) {
              pdwClass = $scope.cart[i];
              console.log(pdwClass);
              if (parseInt(p.ClassID) === pdwClass && length>1) {
                $scope.cart.splice(i,1);
                break;
              }
            
            }
            console.log($scope.cart);
            p.Action = 'Add Class';
            $scope.sendCart();
            return;

        }
        p.Action = 'Added'
       
        /* trying to change the color of the button once pressed ugh
        document.getElementById(addButton).classList.remove('btn-outline-secondary');
        document.getElementById(addButton).classList.add('btn-secondary');
        */


        $scope.cart.push(parseInt(p.ClassID));
        console.log($scope.cart)

        // send the cart to the backend each time "Add Class" is pressed, 
        $scope.sendCart();

        //and then we will have to get the cart each time the page is loaded ?
} 
      $scope.sendCart = function() {
        console.log("button clicked");
        $http({
        method: 'POST',
        url: '/classes/cart',
        data: $scope.cart
      }).then(function successCallback(response) {
          // this callback will be called asynchronously
          // when the response is available
    
          console.log("success callback");
          
          

        }, function errorCallback(response) {
            console.log("Error: " + response);
        });
      }
      $scope.goToReg = function() {
        $window.location.href="/registration";
      }
    }); 
  </script>

</head>

<body ng-app="exampleApp">
  <%-include('includes/navigation.ejs') %>
    
  <div class="col-sm-12 mx-3" ng-controller="defaultCtrl">
      <h1 class="text-center"> Select New Classes</h1>

   <!-- <div class="container" id="myInput"> -->
      <div class="dropdown" id="myInput">
        <form id="nextPageForm" >
        <select class="btn  btn-secondary selectpicker dropdown-toggle p-2" ng-model="Level" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Level</option>
          <option class="dropdown-item"value="BEG">Intro</option>
          <option class="dropdown-item"value="INT">Intermediate</option>
          <option class="dropdown-item"value="II">Advanced</option>
        </select>
    
      
        <select class="btn btn-secondary selectpicker dropdown-toggle p-2" ng-model="Style" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Style</option>
          <option class="dropdown-item" value="Jazz">Jazz</option>
          <option class="dropdown-item" value="Ballet">Ballet</option>
          <option class="dropdown-item" value="Hip Hop">Hip Hop</option>
          <option class="dropdown-item" value="Acro">Acro</option>
          <option class="dropdown-item" value="Tap">Tap</option>
        </select>
      
        <select class="btn btn-secondary selectpicker dropdown-toggle p-2" ng-model="AgeRange" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Age Range</option>
          <option class="dropdown-item" value="6+">6+</option>
          <option class="dropdown-item" value="7+">7+</option>
          <option class="dropdown-item" value="8+">8+</option>
          <option class="dropdown-item" value="10+">10+</option>
          <option class="dropdown-item" value="Adult">Adult</option>
        </select>
      
        <select class="btn btn-secondary selectpicker dropdown-toggle p-2" ng-model="DayOfWeek" data-style="btn-primary" show-tick>
          <option class="dropdown-item" value="">Select Day</option>
          <option class="dropdown-item" value="Monday">Monday</option>
          <option class="dropdown-item" value="Tuesday">Tuesday</option>
          <option class="dropdown-item" value="Wednesday">Wednesday</option>
          <option class="dropdown-item" value="Thursday">Thursday</option>
          <option class="dropdown-item" value="Friday">Friday</option>
          <option class="dropdown-item" value="Saturday">Saturday</option>
          <option class="dropdown-item" value="Sunday">Sunday</option>
        </select>

        <button ng-click="goToReg()" type="submit" class="px-3 mx-5 btn btn-primary float-end">Proceed to Registration ({{cart.length}})</button>
      </div>
    <!-- </div> -->

    
    
    <table class="table" id="myTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Class Name</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Level</th>
            <th scope="col">Age Range</th>
            <th scope="col">Style</th>
            <th scope="col">Instructor</th>
            <th scope="col"> </th>
          </tr>
        </thead>

        <!-- Table with classes fetched from API 
             TODO: DayOfWeek filter doesn't work, 
             do we need to change the backend? 
          -->
        <tbody>
          <tr ng-repeat="p in products | filter:AgeRange | filter:Style | filter:Level |filter:DayOfWeek">
            <td>{{p.ClassName}}</td>
            <td>{{DaysArray[p.DayOfWeek-1]}}</td>
            <td>{{p.StartTime}}</td>
            <td>{{p.Level}}</td>
            <td>{{p.AgeRange}}</td>
            <td>{{p.Styles}}</td>
            <td>{{p.Instructor}}</td>
            <td><button type="button" id="addButton" ng-init="!p.Action ? p.Action = 'Add Class' : p.Action " class="btn btn-outline-secondary" ng-click="addClassToCart(p)">{{p.Action}}</button></td>
          </tr>
        </tbody>
        
      </table>
      <!--- <div>
        <button type="submit" class="btn btn-primary mb-4" >Proceed to Registration ({{classes.length}})</button>
      </div> -->

    </form>
  </div>

  
<%- include('includes/end.ejs') %>

 
  