<%- include('includes/head.ejs') %>

<body>
    <%-include('includes/navigation.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3">Oops! Something went wrong! </h1>
    <p class="lead"></p>
    <hr>
    <p>
     Questions? <a href="mailto:info@pacificdance.net">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="" role="button">Back to homepage</a>
    </p>
  </div>
</body>
<%- include('includes/end.ejs') %>    