<%- include('includes/head.ejs') %>
</head>

  <body>

      
    <div class="col-sm-6 mx-3">
        <h1 class="text-center"> Maison Framework Login</h1>
      <form action="/login" method="POST">
        <div class="form-group my-3">
          <label for="userName">Username</label>
          <input type="userName" name="username" class="form-control" id="inputUsername" aria-describedby="userNameHelp" placeholder="Enter username">
        
          <div class="my-3">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password">
          </div>
          <div class="my-3">
          <button type="submit" class="btn btn-primary" type="submit">Submit</button> 
          </div>
          <% if (message[0]) { %>
          <div class="alert alert-danger" role="alert">
            <%= message[0] %>
          </div>
          <% } %>
        </div>
     </div>

  </form>
<%- include('includes/end.ejs') %>

 
 