<%- include('includes/head.ejs') %>

<body>
    <%-include('includes/navigation.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3">Something went wrong! </h1>
    <p class="lead"></p>
    <hr>
    <p> It looks like there has been an error.  Please contact us at your earliest convenience so that we can help complete your signup! </br> 
     Please <a href="mailto:info@pacificdance.net">email us</a> or call 714.731.1108 to continue your registration.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="https://www.pacificdance.net/" role="button">Back to homepage</a>
    </p>
  </div>
</body>
<%- include('includes/end.ejs') %>