<%- include('includes/head.ejs') %>
</head>

  <body>

      
    <div class="col-sm-6 mx-3">
        <h1 class="text-center"> Welcome to Maison Framework </h1>
    </div>
      
<%- include('includes/end.ejs') %>

 
 